/* <index.php> Style de la page de connexion </index.php> */
#body_login {
    height: -webkit-fill-available;
    background:;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main_login {
    height: -webkit-fill-available;
    height: fill-available;
    height: -moz-available;
    background: rgba(0, 210, 255, 0.6); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(0, 210, 255, 0.6), rgba(58, 123, 213, 0.6)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0, 210, 255, 0.6), rgba(58, 123, 213, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#bg_form_login {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    position: relative !important;
    top: 10%;
    width: 50%;
    height: 500px;
    box-shadow: 0px 1px 1px 5px rgba(0, 0, 0, 0.25);
}

#btn_login {
    border-radius: 50px !important;
}


@media screen and (max-width: 992px) {
	
    #bg_form_login {
        height: 40% !important;
    }

    #password_forgot {
        margin-bottom: 10% !important;
    }
}



/* <index.php> Style de la page de connexion </index.php> */

.selected {
    background-color: rgb(58, 123, 213);
}

/* <receptionniste/tableau_de_bord.php> Style du tableau de bord des réceptionnistes </receptionniste/tableau_de_bord.php> */

.bg-gesemploi {
    background: rgba(0, 210, 255, 0.6); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.link-active {
    border-bottom: solid 1px black   !important;
}

